<!DOCTYPE html>
<html>
<body>

<form action="action_page.php">
  <fieldset>
    <legend>Do you approve?</legend>
    <label><input type="radio" name="radio" value="yes" /> Yes</label>
    <label><input type="radio" name="radio" value="no" /> No</label>
    <input type="submit" value="Submit" />
  </fieldset>
</form>

</body>
</html>
